<div class="sidebar">

    <h4 class="text-white text-center py-3">
        Dashboard
    </h4>

    <a href="/persons/">
        <i class="bi bi-people"></i>
        Persons
    </a>

    <a href="#">
        <i class="bi bi-house"></i>
        Family
    </a>

    <a href="#">
        <i class="bi bi-heart"></i>
        Marriage
    </a>

    <a href="#">
        <i class="bi bi-book"></i>
        Education
    </a>

    <a href="#">
        <i class="bi bi-cash"></i>
        Income
    </a>

</div>